<a href="https://colab.research.google.com/github/varshaelza/Text-Summarization-Categorization/blob/main/BBC_Classify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
train = pd.read_csv('/content/drive/MyDrive/BBC Dataset/bbcsummtrain.csv')

In [ ]:
train

      Unnamed: 0  ...                              news_tokenized(words)
0              0  ...  ['bubbling', 'time', 'online', 'game', 'broke'...
1              1  ...  ['former', 'conservative', 'leader', 'william'...
2              2  ...  ['mark', 'spencer', 'cut', 'price', 'london', ...
3              3  ...  ['zambia', 'technical', 'director', 'kalusha',...
4              4  ...  ['last', 'year', 'seen', 'one', 'player', 'dom...
...          ...  ...                                                ...
1775        1775  ...  ['india', 'cleared', 'proposal', 'allowing', '...
1776        1776  ...  ['parent', 'refuse', 'allow', 'former', 'partn...
1777        1777  ...  ['locked', 'room', 'heart', 'parliament', 'hiv...
1778        1778  ...  ['southampton', 'david', 'prutton', 'face', 'p...
1779        1779  ...  ['actor', 'stephen', 'fry', 'joining', 'cast',...

[1780 rows x 19 columns]

In [ ]:
from sklearn import model_selection
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(train['news_wo_punct&single'],train['Category_id'],test_size=0.25)

In [ ]:
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(train['news_wo_punct&single'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

NameError: ignored

In [ ]:
from sklearn.preprocessing import LabelEncoder
Encoder = LabelEncoder()
Train_Y = Encoder.fit_transform(Train_Y)
Test_Y = Encoder.fit_transform(Test_Y)

In [ ]:
from sklearn import  naive_bayes, svm
from sklearn.metrics import accuracy_score
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(Train_X_Tfidf,Train_Y)
# predict the labels on validation dataset
predictions_SVM = SVM.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, Test_Y)*100)

SVM Accuracy Score ->  97.07865168539325

In [ ]:
Naive = naive_bayes.MultinomialNB()
Naive.fit(Train_X_Tfidf,Train_Y)
# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, Test_Y)*100)

Naive Bayes Accuracy Score ->  96.85393258426967

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import os

In [ ]:
import pandas as pd
testdata = pd.read_csv('/content/drive/MyDrive/BBC Dataset/bbcsummtest.csv')

In [ ]:
testdata

     Unnamed: 0  ...      Type
0          1288  ...  politics
1          1170  ...  politics
2          1388  ...     sport
3          1109  ...  politics
4          1851  ...      tech
..          ...  ...       ...
440        1117  ...  politics
441        1234  ...  politics
442        1720  ...     sport
443        1230  ...  politics
444         491  ...  business

[445 rows x 5 columns]

In [ ]:
testdata.drop(testdata.columns[testdata.columns.str.contains('unnamed',case= False)],axis=1,inplace=True)
testdata

                                                  News  ...      Type
0    Labour battle plan 'hides Blair'\n \n The Tori...  ...  politics
1    Tutu's Guantanamo release call\n \n Archbishop...  ...  politics
2    Holmes starts 2005 with GB events\n \n Kelly H...  ...     sport
3    Tory expert denies defeatism\n \n The Conserva...  ...  politics
4    Movie body targets children's PCs\n \n The bod...  ...      tech
..                                                 ...  ...       ...
440  NHS waiting time target is cut\n \n Hospital w...  ...  politics
441  Baron Kinnock makes Lords debut\n \n Former La...  ...  politics
442  Player burn-out worries Robinson\n \n England ...  ...     sport
443  Blunkett hints at election call\n \n Ex-Home S...  ...  politics
444  Fed chief warning on US deficit\n \n Federal R...  ...  business

[445 rows x 4 columns]

In [ ]:
testdata["News_lower"] = testdata["News"].str.lower()
testdata.head()

                                                News  ...                                         News_lower
0  Labour battle plan 'hides Blair'\n \n The Tori...  ...  labour battle plan 'hides blair'\n \n the tori...
1  Tutu's Guantanamo release call\n \n Archbishop...  ...  tutu's guantanamo release call\n \n archbishop...
2  Holmes starts 2005 with GB events\n \n Kelly H...  ...  holmes starts 2005 with gb events\n \n kelly h...
3  Tory expert denies defeatism\n \n The Conserva...  ...  tory expert denies defeatism\n \n the conserva...
4  Movie body targets children's PCs\n \n The bod...  ...  movie body targets children's pcs\n \n the bod...

[5 rows x 5 columns]

In [ ]:
testdata['news_wo_nltab'] = testdata['News_lower'].replace('\n','.', regex=True)
testdata['news_wo_nltab'] = testdata['news_wo_nltab'].replace('\t',' ', regex=True)
testdata['news_wo_nltab'] = testdata['news_wo_nltab'].replace(r'\.+', ".", regex=True)

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
#print(stopwords.words('english'))
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
testdata["news_wo_stop"] = testdata["news_wo_nltab"].apply(lambda text: remove_stopwords(text))
#traindata.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
testdata['news_wo_no'] = testdata['news_wo_stop'].str.replace('(\d*\.\d+)|(\d+\.[0-9 ]+)|(\d)', '')

In [ ]:
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

testdata["news_lemmatize(wordnet)"] = testdata["news_wo_no"].apply(lambda text: lemmatize_words(text))
#traindata.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
import string
PUNCT_TO_REMOVE =  '''!()-[]{};:'"\,<>/?@#$%^&*_~'''
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    no_punct = ""
    for char in text:
      if char not in PUNCT_TO_REMOVE:
        no_punct = no_punct + char
      else:
        no_punct = no_punct + ' '
    return(no_punct)
testdata["news_wo_punct"] = testdata["news_lemmatize(wordnet)"].apply(lambda text: remove_punctuation(text))
#traindata.head()

In [ ]:
testdata['news_wo_punct'] = testdata['news_wo_punct'].replace(r'\.+', ".", regex=True)

In [ ]:
STOPWORDS = ['a' ,'b', 'c','d','e','f' ,'g' ,'h','i','j','k','l','m','n','o' ,'p' ,'q','r','s','t','u' ,'v' ,'w','x','y','z']
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
testdata["news_wo_punct&single"] = testdata["news_wo_punct"].apply(lambda text: remove_stopwords(text))

In [ ]:
def spl(text):
  return text.split('.',1)[1]
testdata["news_wo_punct&single"]=testdata["news_wo_punct&single"].apply(lambda text: spl(text))
testdata.head()

                                                News  ...                               news_wo_punct&single
0  Labour battle plan 'hides Blair'\n \n The Tori...  ...   . tory accused tony blair terrified scrutiny ...
1  Tutu's Guantanamo release call\n \n Archbishop...  ...   . archbishop desmond tutu called release rema...
2  Holmes starts 2005 with GB events\n \n Kelly H...  ...   . kelly holmes start series race britain. . h...
3  Tory expert denies defeatism\n \n The Conserva...  ...   . conservatives campaign director denied repo...
4  Movie body targets children's PCs\n \n The bod...  ...   . body represents movie industry released lat...

[5 rows x 11 columns]

In [ ]:
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(train['news_wo_punct&single'])

Test_X_Tfidf = Tfidf_vect.transform(testdata['news_wo_punct&single'])

In [ ]:
from sklearn.preprocessing import LabelEncoder
Encoder = LabelEncoder()

Test_Y = Encoder.fit_transform(testdata['Category_id'])

In [ ]:
from sklearn import  naive_bayes, svm
from sklearn.metrics import accuracy_score
#SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
#SVM.fit(Train_X_Tfidf,Train_Y)
# predict the labels on validation dataset
predictions_SVM = SVM.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, Test_Y)*100)

SVM Accuracy Score ->  97.75280898876404

In [ ]:
predictions_NB = Naive.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, Test_Y)*100)

Naive Bayes Accuracy Score ->  97.07865168539325

In [ ]:
y_pred = model.predict(test_features)

# Evaluation
acc = accuracy_score(test_data["sentiment"], y_pred)

print("Accuracy on the IMDB dataset: {:.2f}".format(acc*100))

In [ ]:
temp_lsa = svdT.transform(Train_X_Tfidf)

In [ ]:
testdata.to_csv('/content/drive/MyDrive/BBC Dataset/bbcsummtest.csv')