<a href="https://colab.research.google.com/github/varshaelza/Text-Summarization-Categorization/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
train = pd.read_csv('/content/drive/MyDrive/bbcequtrain.csv')

In [2]:
train

      Unnamed: 0                               news_wo_punct&single      Type
0              0   . trouble hit mitsubishi motor talk french ca...  business
1              1   . industrial production increased december ac...  business
2              2   . profit chinese computer firm lenovo stood s...  business
3              3   . us german carmaker daimlerchrysler sold car...  business
4              4   . libya withdrawn bn asset us asset previousl...  business
...          ...                                                ...       ...
1490        1490   . explosion consumer technology continue dele...      tech
1491        1491   . computer help solve world difficult health ...      tech
1492        1492   . next generation dvd technology backed sony ...      tech
1493        1493   . first conviction piracy peer to peer networ...      tech
1494        1494   . hi tech industry starting get environmental...      tech

[1495 rows x 3 columns]

In [3]:
from sklearn import model_selection
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(train['news_wo_punct&single'],train['Type'],test_size=0.25)

In [6]:
import pickle

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(train['news_wo_punct&single'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

pickle.dump(Tfidf_vect, open("tfidf_bbc.pkl", "wb"))

In [8]:
print('TF-IDF output shape:', Train_X_Tfidf.shape)

TF-IDF output shape: (1121, 5000)

In [9]:
from sklearn.preprocessing import LabelEncoder
Encoder = LabelEncoder()
Train_Y = Encoder.fit_transform(Train_Y)
Test_Y = Encoder.fit_transform(Test_Y)

In [10]:
#svm

from sklearn import  naive_bayes, svm
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto').fit(Train_X_Tfidf,Train_Y)

# predict the labels on validation dataset
predictions_SVM = SVM.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, Test_Y)*100)
print("SVM Precision Score -> ",precision_score(predictions_SVM, Test_Y, average='micro')*100)
print("SVM Recall Score -> ",recall_score(predictions_SVM, Test_Y, average='micro')*100)
print("SVM f1 Score -> ",f1_score(predictions_SVM, Test_Y, average='weighted')*100)

pickle.dump(SVM, open("svm_bbc.pkl", "wb"))

SVM Accuracy Score ->  98.3957219251337
SVM Precision Score ->  98.3957219251337
SVM Recall Score ->  98.3957219251337
SVM f1 Score ->  98.39598600382914

In [11]:
#naive bayes multinomial

Naive = naive_bayes.MultinomialNB().fit(Train_X_Tfidf,Train_Y)

# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, Test_Y)*100)
print("Naive Bayes Precision Score -> ",precision_score(predictions_NB, Test_Y, average='micro')*100)
print("Naive Bayes Recall Score -> ",recall_score(predictions_NB, Test_Y, average='micro')*100)
print("Naive Bayes f1 Score -> ",f1_score(Test_Y, predictions_NB, average='weighted')*100)

pickle.dump(Naive, open("nbm_model_bbc.pkl", "wb"))

Naive Bayes Accuracy Score ->  97.59358288770053
Naive Bayes Precision Score ->  97.59358288770053
Naive Bayes Recall Score ->  97.59358288770053
Naive Bayes f1 Score ->  97.59424099520896

In [13]:
from sklearn.naive_bayes import BernoulliNB
#Naive = naive_bayes.MultinomialNB()
B_naive = BernoulliNB().fit(Train_X_Tfidf,Train_Y)

# predict the labels on validation dataset
predictions_NB = B_naive.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, Test_Y)*100)
print("Naive Bayes Precision Score -> ",precision_score(predictions_NB, Test_Y, average='micro')*100)
print("Naive Bayes Recall Score -> ",recall_score(predictions_NB, Test_Y, average='micro')*100)
print("Naive Bayes f1 Score -> ",f1_score(Test_Y, predictions_NB, average='weighted')*100)

pickle.dump(B_naive, open("nbb_model_bbc.pkl", "wb"))

Naive Bayes Accuracy Score ->  95.18716577540107
Naive Bayes Precision Score ->  95.18716577540107
Naive Bayes Recall Score ->  95.18716577540107
Naive Bayes f1 Score ->  95.17828773101239