<a href="https://colab.research.google.com/github/varshaelza/Text-Summarization-Categorization/blob/main/rbmtrial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
% cd drive/My\ Drive/BBC Dataset

/content/drive/My Drive/BBC Dataset

***LOADING DATASET***

In [3]:
import pandas as pd
import numpy as np
traindata = pd.read_csv('/content/drive/MyDrive/BBC Dataset/fuzzysampletrain.csv')
testdata = pd.read_csv('/content/drive/MyDrive/BBC Dataset/fuzzysampletest.csv')

In [ ]:
traindata

      Unnamed: 0  ...           Type
0              0  ...           tech
1              1  ...       politics
2              2  ...       business
3              3  ...          sport
4              4  ...          sport
...          ...  ...            ...
1775        1775  ...       business
1776        1776  ...       politics
1777        1777  ...       politics
1778        1778  ...          sport
1779        1779  ...  entertainment

[1780 rows x 5 columns]

In [ ]:
testdata

     Unnamed: 0  ...      Type
0          1288  ...  politics
1          1170  ...  politics
2          1388  ...     sport
3          1109  ...  politics
4          1851  ...      tech
..          ...  ...       ...
440        1117  ...  politics
441        1234  ...  politics
442        1720  ...     sport
443        1230  ...  politics
444         491  ...  business

[445 rows x 5 columns]

In [4]:
df=pd.concat([traindata, testdata])

In [5]:
df

     Unnamed: 0  ...      Type
0             0  ...      tech
1             1  ...  politics
2             2  ...  business
3             3  ...     sport
4             4  ...     sport
..          ...  ...       ...
440        1117  ...  politics
441        1234  ...  politics
442        1720  ...     sport
443        1230  ...  politics
444         491  ...  business

[2225 rows x 5 columns]

***PREPROCESSING***

all imports and downloads

In [6]:
import nltk
import re
!sudo pip install nltk==3.4
nltk.download('punkt')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
from nltk.corpus import stopwords
from string import punctuation

nltk.download('averaged_perceptron_tagger')
nltk.download('universal_tagset')

from nltk.tokenize import word_tokenize

from nltk.util import ngrams

from numpy import dot
from numpy.linalg import norm

! pip install rake-nltk
from rake_nltk import Rake

from nltk.tag import pos_tag
from collections import Counter

Collecting nltk==3.4
  Downloading https://files.pythonhosted.org/packages/6f/ed/9c755d357d33bc1931e157f537721efb5b88d2c583fe593cc09603076cc3/nltk-3.4.zip (1.4MB)
     |████████████████████████████████| 1.4MB 4.1MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk==3.4) (1.15.0)
Collecting singledispatch
  Downloading https://files.pythonhosted.org/packages/7a/12/2b10635e91ec4007e2a287812b1a1c8649cf68686ff2d69ed97553cf8a7a/singledispatch-3.6.1-py2.py3-none-any.whl
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.4-cp37-none-any.whl size=1436383 sha256=ec3fe6c441381ed79566a6473a8097c4ce49b7ba193dacdb5d30f0980d3462c5
  Stored in directory: /root/.cache/pip/wheels/4b/c8/24/b2343664bcceb7147efeb21c0b23703a05b23fcfeaceaa2a1e
Successfully built nltk
Installing collected packages: singledispatch, nltk
  Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed nltk-3.4 singledispatch-3.6.1
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package universal_tagset to /root/nltk_data...
[nltk_data]   Unzipping taggers/universal_tagset.zip.
Collecting rake-nltk
  Downloading https://files.pythonhosted.org/packages/8e/c4/b4ff57e541ac5624ad4b20b89c2bafd4e98f29fd83139f3a81858bdb3815/rake_nltk-1.0.4.tar.gz
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from rake-nltk) (3.4)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->rake-nltk) (1.15.0)
Requirement already satisfied: singledispatch in /usr/local/lib/python3.7/dist-packages (from nltk->rake-nltk) (3.6.1)
Building wheels for collected packages: rake-nltk
  Building wheel for rake-nltk (setup.py) ... done
  Created wheel for rake-nltk: filename=rake_nltk-1.0.4-py2.py3-none-any.whl size=7819 sha256=59694c0dfe571d7b8cc1b926bc776b1732f67ad26b523edef74f542ee53f084f
  Stored in directory: /root/.cache/pip/wheels/ef/92/fc/271b3709e71a96ffe934b27818946b795ac6b9b8ff8682483f
Successfully built rake-nltk
Installing collected packages: rake-nltk
Successfully installed rake-nltk-1.0.4

Stopwords removal

In [7]:
STOPWORDS = set(stopwords.words('english'))
def rem_stopwords(text):
    return " ".join([word.lower() for word in str(text).split(" ") if word not in STOPWORDS and word not in punctuation and not word.isdigit()])

df["rem_stopwords"] = df["News"].apply(lambda text: rem_stopwords(text))
df.head()

   Unnamed: 0  ...                                      rem_stopwords
0           0  ...  online games play politics\n \n after bubbling...
1           1  ...  hague 'given up' pm ambition\n \n former conse...
2           2  ...  m&s cuts prices average 24%\n \n marks spencer...
3           3  ...  zambia confident cautious\n \n zambia's techni...
4           4  ...  federer joins all-time greats\n \n the last ye...

[5 rows x 6 columns]

Sentence tokenisation

In [8]:
df["sen_token"] = df["rem_stopwords"].apply(lambda text: sent_tokenize(text))
df.head()

   Unnamed: 0  ...                                          sen_token
0           0  ...  [online games play politics\n \n after bubblin...
1           1  ...  [hague 'given up' pm ambition\n \n former cons...
2           2  ...  [m&s cuts prices average 24%\n \n marks spence...
3           3  ...  [zambia confident cautious\n \n zambia's techn...
4           4  ...  [federer joins all-time greats\n \n the last y...

[5 rows x 7 columns]

Porter Stemmer stemming

In [9]:
stemmer = PorterStemmer()

def stem_words(text):
    #return " ".join([stemmer.stem(word) for word in text.split()])
    nltk_stemmedList = []
    for word in text:
        nltk_stemmedList.append(stemmer.stem(word))
    return nltk_stemmedList
df["Porter_stemmed"] = df["sen_token"].apply(lambda text: stem_words(text))
df.head()

   Unnamed: 0  ...                                     Porter_stemmed
0           0  ...  [online games play politics\n \n after bubblin...
1           1  ...  [hague 'given up' pm ambition\n \n former cons...
2           2  ...  [m&s cuts prices average 24%\n \n marks spence...
3           3  ...  [zambia confident cautious\n \n zambia's techn...
4           4  ...  [federer joins all-time greats\n \n the last y...

[5 rows x 8 columns]

Lemmatisation

In [10]:
wordnet_lemmatizer = WordNetLemmatizer()
def lemma(text):
  lemma_list=[]
  for word in text:
    lemma_list.append(wordnet_lemmatizer.lemmatize(word))
  return lemma_list
df["Lemmatize"] = df["Porter_stemmed"].apply(lambda text: lemma(text))
df.head()

   Unnamed: 0  ...                                          Lemmatize
0           0  ...  [online games play politics\n \n after bubblin...
1           1  ...  [hague 'given up' pm ambition\n \n former cons...
2           2  ...  [m&s cuts prices average 24%\n \n marks spence...
3           3  ...  [zambia confident cautious\n \n zambia's techn...
4           4  ...  [federer joins all-time greats\n \n the last y...

[5 rows x 9 columns]

PoS tagging

In [ ]:
def postag(text):
  
  pos_list=[]
  for word in text:
    pos_list.append(nltk.pos_tag(word_tokenize(word),tagset='universal'))
     
  return pos_list
df["postag"] = df["Lemma"].apply(lambda text: postag(text))
df.head()

KeyError: ignored

***FEATURE EXTRACTION***

bigrams

In [11]:

stop_words = set(stopwords.words('english'))

def bi_grams(text):
  bi_token=[]
  bi_token_length=[]
  #print(len(text))
  for u in range(len(text)):
    sent_split=[w.lower() for w in text[u].split(" ")]
    sent_split1=[w for w in sent_split if w not in stop_words and w not in punctuation and not w.isdigit()]
    #bigrams_list=list(nltk.bigrams(sent_split1))
    bigrams_list = list(ngrams(sent_split, 2)) 
    #print(bigrams_list)
    #bigrams_list = ngrams(sent_split1,2)
    #bigrams_list = [bigram for bigram in nltk.bigrams(sent_split1)]
    #print(bigrams_list)
    bi_token.append(bigrams_list)
    bi_token_length.append(len(bi_token[u]))
  #print(bi_token_length)
  bi_tokens = [(int(m) / max(bi_token_length))*100 for m in bi_token_length]
  return bi_token_length
      

df["bigrams"] = df["Lemmatize"].apply(lambda text: bi_grams(text))
df.head()

   Unnamed: 0  ...                                            bigrams
0           0  ...  [29, 9, 17, 19, 9, 12, 27, 18, 8, 7, 13, 18, 1...
1           1  ...  [18, 12, 9, 13, 14, 12, 8, 1, 13, 16, 19, 8, 7...
2           2  ...  [18, 14, 8, 12, 9, 15, 7, 19, 18, 18, 14, 15, ...
3           3  ...          [17, 5, 4, 8, 5, 8, 15, 13, 10, 36, 6, 8]
4           4  ...  [18, 13, 16, 12, 14, 7, 6, 14, 6, 10, 36, 13, ...

[5 rows x 10 columns]

trigrams

In [12]:
stop_words = set(stopwords.words('english'))

def tri_grams(text):
  tri_token=[]
  tri_token_length=[]
  #print(len(text))
  for u in range(len(text)):
    sent_split2=[w.lower() for w in text[u].split(" ")]
    sent_split3=[w for w in sent_split2 if w not in stop_words and w not in punctuation and not w.isdigit()]
    
    try :
      trigrams_list = list(ngrams((sent_split3),3))
    except:
       print("Error is :",sent_split3)
    #print(trigrams_list)
    #trigrams_list = extract_ngrams(sent_split2, 3)
    #print(trigrams_list)
    #trigrams_list = ngrams(sent_split2,3)
    tri_token.append(trigrams_list)
    #print(len(tri_token[u]))
    l=len(tri_token[u])
    tri_token_length.append(l)
  tri_tokens = [(int(m) / max(tri_token_length))*100 for m in tri_token_length]
  return tri_token_length
      

df["trigrams"] = df["Lemmatize"].apply(lambda text: tri_grams(text))
df.head()

Error is : ['asked.']
Error is : ['brebner.']
Error is : ['up?']
Error is : ['bit.']
Error is : ['said.']
Error is : ['twice.']
Error is : ['bosvelt.']
Error is : ['possible."']
Error is : ['growing.']
Error is : ['ipod?']
Error is : ['gps?']
Error is : ['competition.']
Error is : ['why?']
Error is : ['shock.']
Error is : ['happen?']
Error is : ['friends.']
Error is : ['me."']
Error is : ['interested."']
Error is : ['can."']
Error is : ['worrying."']
Error is : ['asked.']
Error is : ['djs.']
Error is : ['conceived.']
Error is : ['lives."']
Error is : ['public.']
Error is : ['not?"']
Error is : ['said.']
Error is : ['said.']
Error is : ['added.']
Error is : ['saying?']
Error is : ['overall.']
Error is : ['that.']
Error is : ['time.']
Error is : ['work?']
Error is : ['polite.']
Error is : ['gps?']
Error is : ['competition.']
Error is : ['why?']
Error is : ['cole.']
Error is : ['delighted."']
Error is : ['said.']
Error is : ['"ditto."']
Error is : ['asked.']
Error is : ['congratulations!']
Error is : ['potential.']
Error is : ['confronted."']
Error is : []
Error is : ['oscar?']
Error is : ['dinosaur."']
Error is : ['perfection!']
Error is : ['maybe.']
Error is : ['rubbish!']
Error is : ['joke!']
Error is : ["'orrible."]
Error is : ['joke.']
Error is : ['chance.']
Error is : ['nope.']
Error is : ['yes!!']
Error is : ['really?']
Error is : ['no?']
Error is : ['sigh.']
Error is : ['britpop?']
Error is : ['"no.']
Error is : ['badly."']
Error is : ['mean?']
Error is : ['morgan.']
Error is : ['personality.']
Error is : ['bit.']
Error is : ['see."']
Error is : ['refuse.']
Error is : ['easy.']
Error is : ['fun!']
Error is : ['hill.']
Error is : ['said.']
Error is : ['asked.']
Error is : ['said.']
Error is : ['cole.']
Error is : ['not.']
Error is : ['sad."']
Error is : ['said.']
Error is : ['veritas?']
Error is : ['whitewashed.']
Error is : ['longer.']
Error is : ['blessing."']
Error is : ['"ditto."']
Error is : ['well."']
Error is : ['said.']
Error is : ['said.']
Error is : ['kerrang!']
Error is : ['outrage!']
Error is : ['ambitious.']
Error is : ['truth."']
Error is : ['mccurri']
Error is : ['dramatic.']
Error is : ['worried?']
Error is : ['mistake.']
Error is : ['past."']
Error is : ['reaction?']
Error is : ['what?']
Error is : ['war.']
Error is : ['did.']
Error is : ['end.']
Error is : ['true.']
Error is : ['opinions.']
Error is : ['jakamoko!']
Error is : ['toto!']
Error is : ['joked.']
Error is : ['s.t.a.l.k.e.r.']
Error is : ['entertainment.']
Error is : ['scam.']
Error is : ['veritas?']
Error is : ['clown.']
Error is : ['veritas?']
Error is : ['theory.']
Error is : ['solutions.']
Error is : ['france.']
Error is : ['fighting."']
Error is : ['asks.']
Error is : ['why?']
Error is : ['tool.']
Error is : ['hope.']
Error is : ['improve."']
Error is : ['recalled.']
Error is : ['djs.']
Error is : ['added.']
Error is : ['terrible."']
Error is : ['exceptions.']
Error is : ['said.']
Error is : ['lives."']
Error is : ['james.']
Error is : ['pity.']
Error is : ['theory.']
Error is : ['solutions.']
Error is : ['strange.']
Error is : ['nonsense.']
Error is : ['talented.']
Error is : ['kamara.']
Error is : ['says.']
Error is : ['untrue.']
Error is : ['thundercats!!']
Error is : ['care!']
Error is : ['asks.']
Error is : ['confronted."']

   Unnamed: 0  ...                                           trigrams
0           0  ...  [26, 8, 15, 16, 8, 10, 24, 16, 7, 5, 11, 17, 1...
1           1  ...  [17, 11, 8, 11, 13, 9, 7, 0, 11, 15, 16, 6, 6, 4]
2           2  ...  [17, 13, 7, 11, 8, 14, 6, 18, 17, 17, 12, 13, ...
3           3  ...           [16, 4, 3, 7, 4, 7, 14, 11, 8, 32, 5, 6]
4           4  ...  [16, 12, 14, 11, 13, 5, 4, 13, 5, 8, 33, 12, 1...

[5 rows x 11 columns]

Sentence position

In [13]:
def position(text):
  
  return [index for index, value in enumerate(text)]

def sent_count(text):
  return len(text)

def pos_vec(text):
  position = []
  position_rbm = []
  sent_pos1_rbm = 1
  sent_pos1 = 100
  sent_pos2 = 100
  sent_pos2_rbm = 1
  position.append(sent_pos1)
  position_rbm.append(sent_pos1_rbm)
  for x in range(1,text-1):
    s_p=((text-x)/text)*100
    position.append(s_p)
    s_p_rbm=(text-x)/text
    position_rbm.append(s_p_rbm)
  position.append(sent_pos2)
  position_rbm.append(sent_pos2_rbm)
  return position_rbm


df["sent_position"] = df["Lemmatize"].apply(lambda text: position(text))
df["num_of_sent"]= df["sent_position"].apply(lambda text: sent_count(text))
df["sent_posvec"]=df["num_of_sent"].apply(lambda text: pos_vec(text))
df.head()

   Unnamed: 0  ...                                        sent_posvec
0           0  ...  [1, 0.9565217391304348, 0.9130434782608695, 0....
1           1  ...  [1, 0.9285714285714286, 0.8571428571428571, 0....
2           2  ...  [1, 0.9333333333333333, 0.8666666666666667, 0....
3           3  ...  [1, 0.9166666666666666, 0.8333333333333334, 0....
4           4  ...  [1, 0.9615384615384616, 0.9230769230769231, 0....

[5 rows x 14 columns]

Converting sentences to vectors

In [14]:
def sent_to_vector(text):
  vocabulary = []
  for sents in text:
    vocabulary.extend(sents)
  vocabulary = list(set(vocabulary))
  vectors = []
  for sents in text:
    vector = []
    for tokenss in vocabulary:
      vector.append(sents.count(tokenss))
    vectors.append(vector)
  return vectors

df["sent_vector"]= df["Lemmatize"].apply(lambda text: sent_to_vector(text))
df.head()

   Unnamed: 0  ...                                        sent_vector
0           0  ...  [[13, 6, 14, 0, 2, 17, 0, 2, 7, 4, 1, 8, 20, 0...
1           1  ...  [[4, 4, 8, 0, 1, 14, 2, 1, 5, 1, 0, 7, 13, 18,...
2           2  ...  [[4, 3, 8, 0, 1, 0, 6, 0, 0, 4, 1, 2, 13, 10, ...
3           3  ...  [[7, 1, 0, 7, 0, 1, 9, 1, 1, 1, 2, 5, 3, 0, 17...
4           4  ...  [[7, 1, 0, 11, 0, 1, 0, 5, 2, 1, 2, 3, 0, 0, 6...

[5 rows x 15 columns]

tfisf

In [15]:
def tfisf(text):
  tfvec=[]
  isfvec=[]
  tfisfvec=[]
  tfisfvec_rbm=[]
  for i in range(len(text)):
    vocab_len = len(text[i])
    sentences_len = len(text)
    count = 0
    tfisf = 0
    for j in range(vocab_len):
      tf = text[i][j]
      if(tf>0):
        count += 1
        sent_freq = 0
        for k in range(sentences_len):
          if(text[k][j]>0): sent_freq += 1
        tfisf += (tf)*(1.0/sent_freq)
    if(count > 0):
      mean_tfisf = tfisf/count
    else:
      mean_tfisf = 0
    x,y,z= tf, (1.0/sent_freq), mean_tfisf
    tfvec.append(x)
    isfvec.append(y)
    tfisfvec.append(z*100)
    tfisfvec_rbm.append(z)

  return tfisfvec_rbm


df["tf_isf"]= df["sent_vector"].apply(lambda text: tfisf(text))
df.head()

   Unnamed: 0  ...                                             tf_isf
0           0  ...  [0.5564895673019244, 0.16396051536471756, 0.33...
1           1  ...  [0.5197140466371235, 0.31443278943278946, 0.24...
2           2  ...  [0.5094978434264148, 0.3527169497169497, 0.174...
3           3  ...  [0.5987440542996099, 0.25370851370851366, 0.17...
4           4  ...  [0.2301825209350293, 0.17326017613202968, 0.17...

[5 rows x 16 columns]

max tfisf

In [16]:
def max_tfisf(text):
  maxtf_isf=max(text)
  centroid=[]
  centroid.append(maxtf_isf)
  return centroid

df["maxm_tfisf"]= df["tf_isf"].apply(lambda text: max_tfisf(text))
df.head()

   Unnamed: 0  ...             maxm_tfisf
0           0  ...   [0.5564895673019244]
1           1  ...   [0.5197140466371235]
2           2  ...   [0.5094978434264148]
3           3  ...   [1.1294965786901272]
4           4  ...  [0.43964910391540823]

[5 rows x 17 columns]

centroid

In [17]:
def centroid(text):
  centroid=(max(text))
  return centroid

df["centrd"]= df["sent_vector"].apply(lambda text: centroid(text))
df.head()

   Unnamed: 0  ...                                             centrd
0           0  ...  [14, 6, 13, 0, 4, 17, 0, 2, 11, 4, 0, 9, 20, 0...
1           1  ...  [7, 4, 4, 0, 2, 5, 0, 1, 0, 2, 0, 6, 5, 13, 0,...
2           2  ...  [6, 5, 6, 0, 2, 0, 7, 1, 3, 3, 3, 0, 10, 7, 19...
3           3  ...  [15, 5, 5, 18, 2, 1, 18, 2, 2, 6, 5, 22, 13, 1...
4           4  ...  [20, 4, 0, 15, 0, 2, 0, 10, 0, 3, 7, 2, 0, 1, ...

[5 rows x 18 columns]

Cosine similarity

In [18]:
def centroid(text):
  centroid=(max(text))
  return centroid
def cos_sim(text):
  cent=centroid(text)
  cosine_similarity=[]
  cosine_similarity_rbm=[]
  for z in range(len(text)):
    cos_simi = ((dot(cent, text[z])/(norm(cent)*norm(text[z])))*100)
    cosine_similarity.append(cos_simi)
    cos_simi_rbm = (dot(cent, text[z])/(norm(cent)*norm(text[z])))
    cosine_similarity_rbm.append(cos_simi_rbm)
 #     print("Cosine Similarity Vector:",cosine_similarity_rbm)
#    print("\n")
  return cosine_similarity_rbm

df["cossim"]= df["sent_vector"].apply(lambda text: cos_sim(text))
df.head()

   Unnamed: 0  ...                                             cossim
0           0  ...  [0.9700847260045529, 0.9260900228400718, 0.943...
1           1  ...  [0.8862933617642866, 0.8559813218781243, 0.850...
2           2  ...  [0.9112794729949737, 0.9310881101749274, 0.908...
3           3  ...  [0.9094703220070359, 0.8596974212723024, 0.862...
4           4  ...  [0.9343813349716937, 0.9351951135567246, 0.940...

[5 rows x 19 columns]

Sentence Length

In [19]:
def sentencelen(text):
  sent_word=[]
  for u in range(len(text)):
    sent_split1=[w.lower() for w in text[u].split(" ")]
    sent_split=[w for w in sent_split1 if w not in stop_words and w not in punctuation and not w.isdigit()]
    a=(len(sent_split))
    sent_word.append(a)
  longest_sent=max(sent_word)
  sent_length=[]
  sent_length_rbm=[]
  for x in sent_word:
    sent_length.append((x/longest_sent)*100)
    sent_length_rbm.append(x/longest_sent)
        #print(sent_length)
  return sent_length_rbm

df["sent_length"]= df["Lemmatize"].apply(lambda text: sentencelen(text))
df.head()

   Unnamed: 0  ...                                        sent_length
0           0  ...  [1.0, 0.35714285714285715, 0.6071428571428571,...
1           1  ...  [1.0, 0.6842105263157895, 0.5263157894736842, ...
2           2  ...  [0.95, 0.75, 0.45, 0.65, 0.5, 0.8, 0.4, 1.0, 0...
3           3  ...  [0.5294117647058824, 0.17647058823529413, 0.14...
4           4  ...  [0.5142857142857142, 0.4, 0.45714285714285713,...

[5 rows x 20 columns]

Numeric token

In [20]:

def sentword(text):
  sent_word=[]
  for u in range(len(text)):
      sent_split1=[w.lower() for w in text[u].split(" ")]
      sent_split=[w for w in sent_split1 if w not in stop_words and w not in punctuation and not w.isdigit()]
      a=(len(sent_split))
      sent_word.append(a)
  #print(sent_word)
  return sent_word
def numeric_token(text):
  
  num_word=[]
  numeric_token=[]
  numeric_token_rbm=[]
  sd=sentword(text)
  #print(sd)
  for u in range(len(text)):
    #sd=sentword(text[u])
    
    sent_split4=text[u].split(" ")
    e=re.findall("\d+",text[u])
    noofwords=(len(e))
    num_word.append(noofwords)
    try:
      numeric_token.append((num_word[u]/sd[u])*100)
    except:
      print("Error is:", sd[u])
    try:
      numeric_token_rbm.append(num_word[u]/sd[u])
    except:
      print("Error is:", sd[u]) 
  return numeric_token_rbm

df["num_token"]= df["Lemmatize"].apply(lambda text: numeric_token(text))
df.head()

Error is: 0
Error is: 0

   Unnamed: 0  ...                                          num_token
0           0  ...  [0.03571428571428571, 0.0, 0.05882352941176470...
1           1  ...  [0.0, 0.07692307692307693, 0.0, 0.0, 0.0, 0.0,...
2           2  ...  [0.10526315789473684, 0.0, 0.0, 0.0, 0.0, 0.0,...
3           3  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4           4  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[5 rows x 21 columns]

Thematic Words

In [21]:
def thm_word_ftr(text):
      r = Rake() # Uses stopwords for english from NLTK, and all puntuation characters.    *********optimise with our own*********
      keywords=[]
      for s in text:
          r.extract_keywords_from_text(s)
          key=list(r.get_ranked_phrases())
          keywords.append(key)
      #print(keywords)
      l_keywords=[]
      for s in keywords:
          leng=len(s)
          l_keywords.append(leng)
      #print(l_keywords)

      total_keywords=sum(l_keywords)
      #print(total_keywords)

      thematic_number= []
      thematic_number_rbm= []
      for x in l_keywords:
          thematic_number.append((x/total_keywords)*100)
          thematic_number_rbm.append(x/total_keywords)
      #print("Thematic word feature", thematic_number_rbm)
      #print("\n")
      return thematic_number_rbm


df["thematic_word"]= df["Lemmatize"].apply(lambda text:thm_word_ftr(text))
df.head()

   Unnamed: 0  ...                                      thematic_word
0           0  ...  [0.0847457627118644, 0.01694915254237288, 0.05...
1           1  ...  [0.08163265306122448, 0.10204081632653061, 0.0...
2           2  ...  [0.043478260869565216, 0.06521739130434782, 0....
3           3  ...  [0.09375, 0.09375, 0.03125, 0.03125, 0.03125, ...
4           4  ...  [0.06666666666666667, 0.011111111111111112, 0....

[5 rows x 22 columns]

Proper noun

In [22]:
def sentword(text):
  sent_word=[]
  for u in range(len(text)):
      sent_split1=[w.lower() for w in text[u].split(" ")]
      sent_split=[w for w in sent_split1 if w not in stop_words and w not in punctuation and not w.isdigit()]
      a=(len(sent_split))
      sent_word.append(a)
  #print(sent_word)
  return sent_word
def pronoun(text):
  pncounts = []
  pncounts_rbm = []
  pnounscore_rbm = []
  sd=sentword(text)
  for sent in text:
    tagged=nltk.pos_tag(nltk.word_tokenize(str(sent)))
    counts = Counter(tag for word,tag in tagged if tag.startswith('NNP') or tag.startswith('NNPS'))
    f=sum(counts.values())
    pncounts.append(f)
    pncounts_rbm.append(f)
  try:
    pnounscore=[(int(o) / int(p))*100 for o,p in zip(pncounts, sd)]
    pnounscore_rbm=[int(o) / int(p) for o,p in zip(pncounts_rbm, sd)]
  except:
    print("Error:",sd)
      #print(pncounts)
      #print("Pronoun feature vector",pnounscore_rbm)
      #print("\n")
  return pnounscore_rbm

df["proper_noun"]= df["Lemmatize"].apply(lambda text:pronoun(text))
df.head()

Error: [22, 15, 13, 7, 15, 5, 11, 12, 11, 19, 23, 16, 12, 19, 10, 11, 17, 11, 12, 8, 13, 9, 3, 17, 0]

   Unnamed: 0  ...                                        proper_noun
0           0  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1           1  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2           2  ...  [0.0, 0.0, 0.0, 0.07692307692307693, 0.0, 0.0,...
3           3  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.07692307...
4           4  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[5 rows x 23 columns]

***FEATURE MATRIX FORMATION***

In [24]:
def ftrmat(text):

    featureMatrix = []
    bi_token_length=bi_grams(text)
    tri_token_length=tri_grams(text)
    thematic_number_rbm=thm_word_ftr(text)
    sent_length_rbm=sentencelen(text)
    numeric_token_rbm=numeric_token(text)
    pnounscore_rbm=pronoun(text)
    sentvec=sent_to_vector(text)
    cosine_similarity_rbm=cos_sim(sentvec)
    tfisfvec_rbm=tfisf(sentvec)
    sentpos=position(text)
    num_sent=sent_count(sentpos)
    position_rbm=pos_vec(num_sent)




    featureMatrix.append(position_rbm)
    featureMatrix.append(bi_token_length)
    featureMatrix.append(tri_token_length)
    featureMatrix.append(tfisfvec_rbm)
    featureMatrix.append(cosine_similarity_rbm)
    featureMatrix.append(thematic_number_rbm)
    featureMatrix.append(sent_length_rbm)
    featureMatrix.append(numeric_token_rbm)
    featureMatrix.append(pnounscore_rbm)

    try:
      featureMat = np.zeros((len(text),9))
      for i in range(9) :
        for j in range(len(text)):
          featureMat[j][i] = featureMatrix[i][j]
    except:
      print("index out error")
    return featureMatrix

df["ft_mat"]= df["Lemmatize"].apply(lambda text:ftrmat(text))
df.head()

Error is : ['asked.']
Error is : ['brebner.']
Error is : ['up?']
Error is : ['bit.']
Error is : ['said.']
Error is : ['twice.']
Error is : ['bosvelt.']
Error is : ['possible."']
Error is : ['growing.']
Error is : ['ipod?']
Error is : ['gps?']
Error is : ['competition.']
Error is : ['why?']
Error is : ['shock.']
Error is : ['happen?']
Error is : ['friends.']
Error is : ['me."']
Error is : ['interested."']
Error is : ['can."']
Error is : ['worrying."']
Error is : ['asked.']
Error is : ['djs.']
Error is : ['conceived.']
Error is : ['lives."']
Error is : ['public.']
Error is : ['not?"']
Error is : ['said.']
Error is : ['said.']
Error is : ['added.']
Error is : ['saying?']
Error is : ['overall.']
Error is : ['that.']
Error is : ['time.']
Error is : ['work?']
Error is : ['polite.']
Error is : ['gps?']
Error is : ['competition.']
Error is : ['why?']
Error is : ['cole.']
Error is : ['delighted."']
Error is : ['said.']
Error is : ['"ditto."']
Error is : ['asked.']
Error is : ['congratulations!']
Error is : ['potential.']
Error is : ['confronted."']
Error is : []
Error is: 0
Error is: 0
Error: [22, 15, 13, 7, 15, 5, 11, 12, 11, 19, 23, 16, 12, 19, 10, 11, 17, 11, 12, 8, 13, 9, 3, 17, 0]
index out error
Error is : ['oscar?']
Error is : ['dinosaur."']
Error is : ['perfection!']
Error is : ['maybe.']
Error is : ['rubbish!']
Error is : ['joke!']
Error is : ["'orrible."]
Error is : ['joke.']
Error is : ['chance.']
Error is : ['nope.']
Error is : ['yes!!']
Error is : ['really?']
Error is : ['no?']
Error is : ['sigh.']
Error is : ['britpop?']
Error is : ['"no.']
Error is : ['badly."']
Error is : ['mean?']
Error is : ['morgan.']
Error is : ['personality.']
Error is : ['bit.']
Error is : ['see."']
Error is : ['refuse.']
Error is : ['easy.']
Error is : ['fun!']
Error is : ['hill.']
Error is : ['said.']
Error is : ['asked.']
Error is : ['said.']
Error is : ['cole.']
Error is : ['not.']
Error is : ['sad."']
Error is : ['said.']
Error is : ['veritas?']
Error is : ['whitewashed.']
Error is : ['longer.']
Error is : ['blessing."']
Error is : ['"ditto."']
Error is : ['well."']
Error is : ['said.']
Error is : ['said.']
Error is : ['kerrang!']
Error is : ['outrage!']
Error is : ['ambitious.']
Error is : ['truth."']
Error is : ['mccurri']
Error is : ['dramatic.']
Error is : ['worried?']
Error is : ['mistake.']
Error is : ['past."']
Error is : ['reaction?']
Error is : ['what?']
Error is : ['war.']
Error is : ['did.']
Error is : ['end.']
Error is : ['true.']
Error is : ['opinions.']
Error is : ['jakamoko!']
Error is : ['toto!']
Error is : ['joked.']
Error is : ['s.t.a.l.k.e.r.']
Error is : ['entertainment.']
Error is : ['scam.']
Error is : ['veritas?']
Error is : ['clown.']
Error is : ['veritas?']
Error is : ['theory.']
Error is : ['solutions.']
Error is : ['france.']
Error is : ['fighting."']
Error is : ['asks.']
Error is : ['why?']
Error is : ['tool.']
Error is : ['hope.']
Error is : ['improve."']
Error is : ['recalled.']
Error is : ['djs.']
Error is : ['added.']
Error is : ['terrible."']
Error is : ['exceptions.']
Error is : ['said.']
Error is : ['lives."']
Error is : ['james.']
Error is : ['pity.']
Error is : ['theory.']
Error is : ['solutions.']
Error is : ['strange.']
Error is : ['nonsense.']
Error is : ['talented.']
Error is : ['kamara.']
Error is : ['says.']
Error is : ['untrue.']
Error is : ['thundercats!!']
Error is : ['care!']
Error is : ['asks.']
Error is : ['confronted."']

   Unnamed: 0  ...                                             ft_mat
0           0  ...  [[1, 0.9565217391304348, 0.9130434782608695, 0...
1           1  ...  [[1, 0.9285714285714286, 0.8571428571428571, 0...
2           2  ...  [[1, 0.9333333333333333, 0.8666666666666667, 0...
3           3  ...  [[1, 0.9166666666666666, 0.8333333333333334, 0...
4           4  ...  [[1, 0.9615384615384616, 0.9230769230769231, 0...

[5 rows x 24 columns]

In [25]:
df["ft_mat"]

0      [[1, 0.9565217391304348, 0.9130434782608695, 0...
1      [[1, 0.9285714285714286, 0.8571428571428571, 0...
2      [[1, 0.9333333333333333, 0.8666666666666667, 0...
3      [[1, 0.9166666666666666, 0.8333333333333334, 0...
4      [[1, 0.9615384615384616, 0.9230769230769231, 0...
                             ...
440    [[1, 0.9615384615384616, 0.9230769230769231, 0...
441    [[1, 0.9444444444444444, 0.8888888888888888, 0...
442    [[1, 0.9090909090909091, 0.8181818181818182, 0...
443    [[1, 0.75, 0.5, 1], [15, 13, 10, 10], [14, 11,...
444    [[1, 0.9333333333333333, 0.8666666666666667, 0...
Name: ft_mat, Length: 2225, dtype: object

In [26]:
df['ft_mat'][1]

1    [[1, 0.9285714285714286, 0.8571428571428571, 0...
1    [[1, 0.9545454545454546, 0.9090909090909091, 0...
Name: ft_mat, dtype: object

normalised feature matrix

In [27]:
def sent_count(text):
  return len(text)

df["lemma_count"]= df["Lemmatize"].apply(lambda text: sent_count(text))
df["token_count"]= df["sen_token"].apply(lambda text: sent_count(text))
df.head()

   Unnamed: 0  ... token_count
0           0  ...          23
1           1  ...          14
2           2  ...          15
3           3  ...          12
4           4  ...          26

[5 rows x 26 columns]

Normalised feature matrix

In [28]:
def normftrmat(text):
  len=sent_count(text)
  featureMat = np.zeros((len+1,9))
  #featureMat=[]
  
 # for i in range(9) :
  #  for j in range(len+1):
   #   featureMat[j][i] = text[i][j]
  featureMat=np.transpose(text)
  #temp = rbm.test_rbm(dataset = featureMat, learning_rate=0.01, training_epochs=15, batch_size=5,n_chains=9, n_hidden=9)
  return featureMat 
  
df["norm_ft_mat"]= df["ft_mat"].apply(lambda text:normftrmat(text))
df.head()

/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

   Unnamed: 0  ...                                        norm_ft_mat
0           0  ...  [[1.0, 29.0, 26.0, 0.5564895673019244, 0.97008...
1           1  ...  [[1.0, 18.0, 17.0, 0.5197140466371235, 0.88629...
2           2  ...  [[1.0, 18.0, 17.0, 0.5094978434264148, 0.91127...
3           3  ...  [[1.0, 17.0, 16.0, 0.5987440542996099, 0.90947...
4           4  ...  [[1.0, 18.0, 16.0, 0.2301825209350293, 0.93438...

[5 rows x 27 columns]

In [29]:
def ftnormed(text):
  featureMat_normed = text

  
  return featureMat_normed

df["ftnormed"]= df["norm_ft_mat"].apply(lambda text:ftnormed(text))
df.head()

   Unnamed: 0  ...                                           ftnormed
0           0  ...  [[1.0, 29.0, 26.0, 0.5564895673019244, 0.97008...
1           1  ...  [[1.0, 18.0, 17.0, 0.5197140466371235, 0.88629...
2           2  ...  [[1.0, 18.0, 17.0, 0.5094978434264148, 0.91127...
3           3  ...  [[1.0, 17.0, 16.0, 0.5987440542996099, 0.90947...
4           4  ...  [[1.0, 18.0, 16.0, 0.2301825209350293, 0.93438...

[5 rows x 28 columns]

In [30]:
import theano.tensor as T

Import python file from drive

In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
!sudo pip install nltk==3.4

Collecting nltk==3.4
  Downloading https://files.pythonhosted.org/packages/6f/ed/9c755d357d33bc1931e157f537721efb5b88d2c583fe593cc09603076cc3/nltk-3.4.zip (1.4MB)
     |████████████████████████████████| 1.4MB 5.1MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk==3.4) (1.15.0)
Collecting singledispatch
  Downloading https://files.pythonhosted.org/packages/7a/12/2b10635e91ec4007e2a287812b1a1c8649cf68686ff2d69ed97553cf8a7a/singledispatch-3.6.1-py2.py3-none-any.whl
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.4-cp37-none-any.whl size=1436382 sha256=e078f78afa22dc8ae0981354343a70e3d4004873a5005ab98ec2b5a7f739e119
  Stored in directory: /root/.cache/pip/wheels/4b/c8/24/b2343664bcceb7147efeb21c0b23703a05b23fcfeaceaa2a1e
Successfully built nltk
Installing collected packages: singledispatch, nltk
  Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed nltk-3.4 singledispatch-3.6.1

Logistic_sgd module

In [2]:
logistic_sgd=drive.CreateFile({'id':'1QfMYnBYaIBMUQfwzkUW-h_8ESNQHZkS0'})
logistic_sgd.GetContentFile("logistic_sgd.py")

In [3]:
shared_randomstreams=drive.CreateFile({'id':'1XQDMQ2lnc5ZEfJR0aivJTyNCHBcK1POs'})
shared_randomstreams.GetContentFile("shared_randomstreams.py")

In [4]:
rbm=drive.CreateFile({'id':'1jQaQl7MZ93urOgSyIpuZ8PAlTuUcoizK'})
rbm.GetContentFile("rbm.py")

In [35]:
!pip3 install theano

Collecting theano
  Downloading https://files.pythonhosted.org/packages/6b/97/bcd5654ba60f35f180931afabbd3b4c46c0379852f961c7a2819ff897f5d/Theano-1.0.5.tar.gz (2.8MB)
     |████████████████████████████████| 2.8MB 4.1MB/s
Requirement already satisfied: numpy>=1.9.1 in /usr/local/lib/python3.7/dist-packages (from theano) (1.19.5)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.7/dist-packages (from theano) (1.4.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from theano) (1.15.0)
Building wheels for collected packages: theano
  Building wheel for theano (setup.py) ... done
  Created wheel for theano: filename=Theano-1.0.5-cp37-none-any.whl size=2668094 sha256=03383e94eef5f9a8eb20c5300ec0c342b57e725d8347b972972e4b852b3f2c9f
  Stored in directory: /root/.cache/pip/wheels/89/40/74/3a0b7d937890c66c4373120117ebf4ba99f4889b4a0a6a810c
Successfully built theano
Installing collected packages: theano
Successfully installed theano-1.0.5

In [5]:
from theano.tensor.shared_randomstreams import RandomStreams

In [6]:
import rbm

In [7]:
def emptyarray(text):
  emptyarray= np.empty((len(text),1,3),dtype=object)
  for s in range(len(text)):
      emptyarray[s][0][0] = text[s]
      emptyarray[s][0][1] = s
  return emptyarray

df["empty_array"]= df["Lemmatize"].apply(lambda text: emptyarray(text))

NameError: ignored

In [ ]:
df.head()

   Unnamed: 0  ...                                        empty_array
0           0  ...  [[[online games play politics\n \n after bubbl...
1           1  ...  [[[hague 'given up' pm ambition\n \n former co...
2           2  ...  [[[m&s cuts prices average 24%\n \n marks spen...
3           3  ...  [[[zambia confident cautious\n \n zambia's tec...
4           4  ...  [[[federer joins all-time greats\n \n the last...

[5 rows x 29 columns]

In [ ]:
def enh(text):
  temp = rbm.test_rbm(dataset, learning_rate=0.01, training_epochs=15, batch_size=5,n_chains=9, n_hidden=9)
  enhanced_feature_sum = []
  for i in range(len(np.sum(temp,axis=1))) :
    enhanced_feature_sum.append([np.sum(temp,axis=1)[i],i])
    emptyarray[i][0][2]=np.sum(temp,axis=1)[i]
  enhanced_feature_sum.sort(key=lambda x: x[0])
  return enhanced_feature_sum

df["enh"]= df["norm_ft_mat"].apply(lambda text: enh(text))

NameError: ignored

Rough work

In [ ]:
ftmatrixnormed=df['norm_ft_mat'][0]
ftmatrixnormed

0    [[1.0, 29.0, 26.0, 0.5564895673019243, 0.95394...
0    [[1.0, 19.0, 17.0, 0.32923304902572637, 0.9408...
Name: norm_ft_mat, dtype: object

In [ ]:
temp = rbm.test_rbm(dataset = ftmatrixnormed, learning_rate=0.01, training_epochs=15, batch_size=5,n_chains=9, n_hidden=9)

TypeError: ignored

In [ ]:
def len_ext(text):
  length_to_be_extracted = len(enhanced_feature_sum)/2
  return length_to_be_extracted