<a href="https://colab.research.google.com/github/varshaelza/Text-Summarization-Categorization/blob/main/Under_sampling_of_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/BBC Dataset/bbcsummtrain.csv')

In [2]:
data

      Unnamed: 0  ...                              news_tokenized(words)
0              0  ...  ['bubbling', 'time', 'online', 'game', 'broke'...
1              1  ...  ['former', 'conservative', 'leader', 'william'...
2              2  ...  ['mark', 'spencer', 'cut', 'price', 'london', ...
3              3  ...  ['zambia', 'technical', 'director', 'kalusha',...
4              4  ...  ['last', 'year', 'seen', 'one', 'player', 'dom...
...          ...  ...                                                ...
1775        1775  ...  ['india', 'cleared', 'proposal', 'allowing', '...
1776        1776  ...  ['parent', 'refuse', 'allow', 'former', 'partn...
1777        1777  ...  ['locked', 'room', 'heart', 'parliament', 'hiv...
1778        1778  ...  ['southampton', 'david', 'prutton', 'face', 'p...
1779        1779  ...  ['actor', 'stephen', 'fry', 'joining', 'cast',...

[1780 rows x 19 columns]

In [3]:
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.datasets import make_classification

counter = Counter(data['Type'])
print(counter)

for type, _ in counter.items():
  row_ix = data[data['Type'] == type]
  print(row_ix)

Counter({'business': 414, 'sport': 413, 'politics': 334, 'tech': 320, 'entertainment': 299})
      Unnamed: 0  ...                              news_tokenized(words)
0              0  ...  ['bubbling', 'time', 'online', 'game', 'broke'...
6              6  ...  ['chinese', 'net', 'using', 'population', 'loo...
17            17  ...  ['movie', 'industry', 'struck', 'file', 'shari...
18            18  ...  ['fast', 'web', 'access', 'encouraging', 'peop...
22            22  ...  ['bbc', 'online', 'search', 'engine', 'used', ...
...          ...  ...                                                ...
1741        1741  ...  ['thousand', 'technology', 'lover', 'industry'...
1743        1743  ...  ['fixed', 'line', 'phone', 'home', 'could', 's...
1749        1749  ...  ['know', 'art', 'know', 'like', 'new', 'search...
1750        1750  ...  ['ask', 'jeeves', 'bought', 'bloglines', 'webs...
1760        1760  ...  ['mobile', 'phone', 'uk', 'celebrating', 'th',...

[320 rows x 19 columns]
      Unnamed: 0  ...                              news_tokenized(words)
1              1  ...  ['former', 'conservative', 'leader', 'william'...
8              8  ...  ['tony', 'blair', 'likely', 'name', 'may', 'el...
11            11  ...  ['new', 'home', 'secretary', 'charles', 'clark...
25            25  ...  ['divorced', 'parent', 'seeking', 'access', 'c...
33            33  ...  ['prime', 'minister', 'donned', 'life', 'jacke...
...          ...  ...                                                ...
1768        1768  ...  ['thousand', 'civil', 'service', 'job', 'alrea...
1769        1769  ...  ['veteran', 'labour', 'mp', 'former', 'cabinet...
1774        1774  ...  ['tony', 'blair', 'told', 'labour', 'supporter...
1776        1776  ...  ['parent', 'refuse', 'allow', 'former', 'partn...
1777        1777  ...  ['locked', 'room', 'heart', 'parliament', 'hiv...

[334 rows x 19 columns]
      Unnamed: 0  ...                              news_tokenized(words)
2              2  ...  ['mark', 'spencer', 'cut', 'price', 'london', ...
5              5  ...  ['latin', 'america', 'economy', 'grew', 'best'...
7              7  ...  ['chancellor', 'gordon', 'brown', 'given', '£b...
9              9  ...  ['delta', 'air', 'line', 'cutting', 'domestic'...
15            15  ...  ['retail', 'giant', 'federated', 'department',...
...          ...  ...                                                ...
1763        1763  ...  ['stock', 'market', 'watchdog', 'chairman', 's...
1771        1771  ...  ['dollar', 'hovered', 'close', 'record', 'low'...
1772        1772  ...  ['brewing', 'giant', 'inbev', 'agreed', 'buy',...
1773        1773  ...  ['uk', 'based', 'bank', 'standard', 'chartered...
1775        1775  ...  ['india', 'cleared', 'proposal', 'allowing', '...

[414 rows x 19 columns]
      Unnamed: 0  ...                              news_tokenized(words)
3              3  ...  ['zambia', 'technical', 'director', 'kalusha',...
4              4  ...  ['last', 'year', 'seen', 'one', 'player', 'dom...
12            12  ...  ['dundee', 'united', 'eased', 'semi', 'final',...
13            13  ...  ['world', 'number', 'one', 'lindsay', 'davenpo...
27            27  ...  ['greg', 'rusedski', 'forced', 'withdraw', 'op...
...          ...  ...                                                ...
1762        1762  ...  ['stefan', 'koubek', 'say', 'banned', 'three',...
1764        1764  ...  ['dundee', 'united', 'manager', 'ian', 'mccall...
1766        1766  ...  ['iaaf', 'athletics', 'world', 'governing', 'b...
1770        1770  ...  ['euan', 'murray', 'named', 'scotland', 'train...
1778        1778  ...  ['southampton', 'david', 'prutton', 'face', 'p...

[413 rows x 19 columns]
      Unnamed: 0  ...                              news_tokenized(words)
10            10  ...  ['actor', 'colin', 'farrell', 'make', 'debut',...
14            14  ...  ['dame', 'muriel', 'spark', 'among', 'three', ...
16            16  ...  ['model', 'caprice', 'holby', 'city', 'actor',...
19            19  ...  ['pop', 'star', 'christina', 'aguilera', 'marr...
20            20  ...  ['british', 'producer', 'wife', 'swap', 'takin...
...          ...  ...                                                ...
1755        1755  ...  ['movie', 'monster', 'godzilla', 'received', '...
1761        1761  ...  ['british', 'film', 'director', 'sir', 'alan',...
1765        1765  ...  ['oscar', 'nominated', 'film', 'biopic', 'ray'...
1767        1767  ...  ['creator', 'buffy', 'vampire', 'slayer', 'tak...
1779        1779  ...  ['actor', 'stephen', 'fry', 'joining', 'cast',...

[299 rows x 19 columns]

In [4]:
!pip install imbalanced-learn
import imblearn
print(imblearn.__version__)
from imblearn.under_sampling import RandomUnderSampler

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.4.3)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.19.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->imbalanced-learn) (1.0.1)

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

0.4.3

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [5]:
import numpy as np

d = data['news_wo_punct&single'].values.tolist()
X=np.array(d).reshape(-1, 1)

In [6]:
undersample = RandomUnderSampler(sampling_strategy='auto')
X_under, y_under = undersample.fit_resample(X, data['Type'])

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [7]:
print(Counter(y_under))
print(len(X_under))

Counter({'business': 299, 'entertainment': 299, 'politics': 299, 'sport': 299, 'tech': 299})
1495

In [8]:
text = pd.DataFrame(data=X_under, columns=["news_wo_punct&single"])

In [9]:
text.head()

                                news_wo_punct&single
0   . trouble hit mitsubishi motor talk french ca...
1   . industrial production increased december ac...
2   . profit chinese computer firm lenovo stood s...
3   . us german carmaker daimlerchrysler sold car...
4   . libya withdrawn bn asset us asset previousl...

In [10]:
Labels = pd.DataFrame(data=y_under, columns=["Type"])

In [11]:
Labels.head()

       Type
0  business
1  business
2  business
3  business
4  business

In [12]:
frames = [text,Labels]
dataframe = pd.concat(frames,axis=1)
dataframe.head()

                                news_wo_punct&single      Type
0   . trouble hit mitsubishi motor talk french ca...  business
1   . industrial production increased december ac...  business
2   . profit chinese computer firm lenovo stood s...  business
3   . us german carmaker daimlerchrysler sold car...  business
4   . libya withdrawn bn asset us asset previousl...  business

In [14]:
len(Labels)

1495

In [15]:
df = pd.DataFrame(dataframe)
df.to_csv('/content/drive/MyDrive/BBC Dataset/bbcequtrain.csv')

In [16]:
data = pd.read_csv('/content/drive/MyDrive/BBC Dataset/bbcequtrain.csv')
data.head()

   Unnamed: 0                               news_wo_punct&single      Type
0           0   . trouble hit mitsubishi motor talk french ca...  business
1           1   . industrial production increased december ac...  business
2           2   . profit chinese computer firm lenovo stood s...  business
3           3   . us german carmaker daimlerchrysler sold car...  business
4           4   . libya withdrawn bn asset us asset previousl...  business

In [17]:
data

      Unnamed: 0                               news_wo_punct&single      Type
0              0   . trouble hit mitsubishi motor talk french ca...  business
1              1   . industrial production increased december ac...  business
2              2   . profit chinese computer firm lenovo stood s...  business
3              3   . us german carmaker daimlerchrysler sold car...  business
4              4   . libya withdrawn bn asset us asset previousl...  business
...          ...                                                ...       ...
1490        1490   . explosion consumer technology continue dele...      tech
1491        1491   . computer help solve world difficult health ...      tech
1492        1492   . next generation dvd technology backed sony ...      tech
1493        1493   . first conviction piracy peer to peer networ...      tech
1494        1494   . hi tech industry starting get environmental...      tech

[1495 rows x 3 columns]